body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#prompt-input {
    min-height: 50px; /* Plus d'espace pour le prompt */
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049;
}

.questions-container {
    margin-top: 20px;
}

.question {
    background-color: #eef;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.question p {
    margin: 5px 0;
}

.question ul {
    padding-left: 20px;
}

#new-chapter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Ajouter un peu d'espace entre l'input et le bouton */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-chapter-button {
    background-color: #007bff; /* Une couleur bleue par exemple */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#add-chapter-button:hover {
    background-color: #0069d9; /* Une nuance légèrement plus foncée pour le survol */
}

.loader {
    display: inline-block;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





