<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Copin de révision</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" async
		src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
		</script>
</head>

<body>
    <main class="main-container">
        <header class="header">
            <h1 class="header-title">Mon A.I.de mémoire</h1>
        </header>

        <section id="messages-container" class="messages-container">
            <div class="message message-ai">
                
				<span class="tex">Je suis ton AIssistant de cours personnel ! Pose-moi une question sur
                    le cours et je te répondrai. Voici l'équation de Schrödinger : \[H\psi = E\psi\]</span>
            </div>
        </section>

        <section id="qcm-container" class="hidden">
            <div id="qcm-question"></div>
            <ul id="qcm-choices">
                <!-- Les choix seront injectés ici par le JavaScript -->
            </ul>
            <button id="qcm-submit">Valider</button>
            <div id="qcm-feedback"></div>
            <button id="new-qcm-button" class="hidden">Question Suivante</button>
            <button id="end-qcm-button" class="hidden">Résultats</button>

        </section>

        <form id="qcm-form" class="prompt-container">

            <button type="button" class="button" id="return-chat-button">Retour au chat</button>

            <button type="button" class="button" id="new-qcm-test-button">Nouveau QCM</button>

        </form>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const levelSelect = document.getElementById('level');
            const subjectButtons = document.querySelectorAll('.subject-button');

            subjectButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const level = levelSelect.value;
                    const subject = this.textContent.trim();
                    window.location.href = `/page_base.html?level=${level}&subject=${subject}`;
                });
            });
        });
    </script>

</body>

</html>


