<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Affichage des Questions QCM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_valider.css') }}">
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</script>
</head>


<body>
    <div id="class-info" data-selected-class="{{ selected_class }}" style="display: none;"></div>
    <div id="subject-info" data-selected-subject="{{ selected_subject }}" style="display: none;"></div>
    <div id="chapter-info" data-selected-chapter="{{ selected_chapter }}" style="display: none;"></div>

    <div class="main-container">
        <h2>QCM de niveau {{ selected_class }} en {{ selected_subject }} sur le chapitre {{ selected_chapter }}</h2>
        <div class="questions-container">
            {% for question in questions %}
            <div class="question" id="question_container_{{ question.index }}">
                <!-- Champ modifiable pour la question -->
                <label for="question_{{ question.index }}"><strong>Question :</strong></label>
                <textarea id="question_{{ question.index }}" name="question_{{ question.index }}" rows="2">{{ question.question }}</textarea>
        
                <!-- Champs modifiables pour les choix -->
                <ul>
                    {% for choice in question.choices %}
                        <li>
                            <label for="choice_{{ question.index }}_{{ choice.index }}">Choix {{ choice.index + 1 }}:</label>
                            <input type="text" id="choice_{{ question.index }}_{{ choice.index }}" name="choice_{{ question.index }}_{{ choice.index }}" value="{{ choice.text }}">
                        </li>
                    {% endfor %}
                </ul>

                <!-- Sélection de la réponse correcte -->
                <label for="correct_{{ question.index }}"><strong>Réponse Correcte :</strong></label>
                <input type="number" id="correct_{{ question.index }}" name="correct_{{ question.index }}" value="{{ question.correct }}" min="0" max="{{ question.choices|length - 1 }}">

                <!-- Boutons Valider et Supprimer -->
                <button onclick="validateQuestion({{ question.index }})">Valider</button>
                <button onclick="deleteQuestion({{ question.index }})">Supprimer</button>
            </div>
            {% endfor %}
        </div>

        <!-- Bouton pour générer d'autres questions -->
        <button onclick="reloadPage()">Générer d'autres questions</button>

    </div>

    <script>
        function validateQuestion(index) {
            var questionText = document.getElementById('question_' + index).value;
            var correctAnswer = parseInt(document.getElementById('correct_' + index).value, 10);
            var choices = [];
            for (var i = 0; i < 4; i++) {
                choices.push(document.getElementById('choice_' + index + '_' + i).value);
            }

            // Récupérer les valeurs de selected_class et selected_subject
            var selectedClass = document.getElementById('class-info').dataset.selectedClass;
            var selectedSubject = document.getElementById('subject-info').dataset.selectedSubject;
            var selectedChapter = document.getElementById('chapter-info').dataset.selectedChapter; 

            var questionData = {
                question: questionText,
                choices: choices,
                correct: correctAnswer,
                level: selectedClass,
                subject : selectedSubject,
                chapter: selectedChapter
            };

            // Message de débogage
            console.log('Données de la question validée:', questionData);

            // Envoi des données à votre serveur Flask
            sendQuestionDataToServer(questionData, index);
        }

        function sendQuestionDataToServer(questionData, index) {
            fetch('/add_question', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(questionData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Réponse du serveur:', data);

                // Supprimer la question du DOM après la confirmation de l'enregistrement
                var questionElement = document.getElementById('question_container_' + index);
                questionElement.parentNode.removeChild(questionElement);
                // Afficher une alerte pour informer l'utilisateur
                alert('La question a bien été enregistrée.');
            })
            .catch(error => {
                console.error('Erreur lors de l envoi des données:', error);
                alert('Erreur lors de l\'enregistrement de la question.');
            });
        }



        // Fonction pour supprimer une question
        function deleteQuestion(index) {
            var questionElement = document.getElementById('question_container_' + index);
            questionElement.parentNode.removeChild(questionElement);
        }

        function reloadPage() {
        location.reload();
    }
    </script>
</body>


</html>
